


<div class="container" style="max-width: 300px; margin-top: 300px;">

 
<div classes="container" style="text-align: center; font-family: serif;">
    


<h3><%= link_to 'Create an Account', new_user_path %></h3>
<h3><%= link_to 'Log In', login_path %></h3>
</div></br>


</div>