<h1>House View</h1>

<% @rooms.each do |room| %>
    <% if room.name != "Inventory" %>
        <p><%= link_to room.name, room %></p>
    <% end %>
<% end %>

<h1>Inventory</h1>
<p>You have a <%= Room.all.last.tools.last.name %>.</p>

<h1>Time</h1>
<p><%= (Time.now - @playTime).to_i %> seconds.</p>