<h1>Main Menu</h1>

<%= form_with(url: "/newgame", method: "post" ) do %>
    <%= submit_tag("Play Game") %>
<% end %>

<%= form_with(url: statistics_url(current_user), method: "get" ) do %>
    <%= submit_tag("Show Stats") %>
<% end %>