<h1><%= @room.name %></h1>

Tools in the room <br>
    <% @room.tools.each do |tool| %>
        <p>- <%= tool.name %></p>
    <% end %>

<h1>Inventory</h1>

<p>You have a <%= Room.all.last.tools.last.name %>.</p>

<p><%= link_to "Back to the House", "/rooms" %></p>